/SyntaxTree.VisualStudio.Unity.Bridge.dll
/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
/SyntaxTree.VisualStudio.Unity.Messaging.dll
/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
/UnityVS.meta
/UnityVS.VersionSpecific.dll
/UnityVS.VersionSpecific.dll.meta
